* {
  box-sizing: border-box;
}

.gallery-item {
  display: block;
  width: calc((100% - 48px) / 3);
  transition: all 0.2s ease-in-out;
  cursor: pointer;

}
.gallery-item:hover {
  transform:scale(1.03); 
}

.gallery {
  list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    max-width: 1440px;
    margin: 0 auto;
}
.gallery-image {
  width: 100%;
  border-radius: 4px;
}





















